.main-title {
    display: grid;
    text-align: center;
    place-items: center;
    align-content: center;
    align-items: center;
    gap: 2.5rem;
}

.main-title h1 {
    display: grid;
    text-align: center;
    place-items: center;
    align-content: center;
    align-items: center;
}

.main-title img {
    width: clamp(min(10vw, 20rem), 500px, max(90vw, 55rem));
    max-width: 90%;
    
}

.invite-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.invite-buttons a {
    display: inline-block;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    transition-duration: 0.7s;
}

.invite-buttons a:hover {
    scale: 105%;
}

.invite-buttons span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.invite-buttons span img {
    width: 1.5em;
    height: 1.5em;
}

.main-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}

.stats-pannel {
    width: 12rem;
    height: 15rem;
    background-color: var(--dark-grey);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    gap: 2rem;
    transition-duration: 0.7s;
}

.stats-pannel:hover {
    scale: 105%;
}

.stats-pannel img {
    width: clamp(min(3vw, 12rem), 60px, max(90vw, 55rem));;
}

.stats-pannel p {
    color: var(--full-white);
    font-family: var(--font-regular);
}

@media (max-width: 430px) {
    .invite-buttons { flex-direction: column; }
}

@media (max-width: 750px) {
    .main-stats { flex-direction: column; }
}