.main-title {
    display: grid;
    text-align: center;
    place-items: center;
    align-content: center;
    align-self: center;
    width: clamp(min(15vw, 25rem), 350px, max(60vw, 40rem));
}

.main-title img { max-width: 100% }

.title-separator {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    border-top: solid 0.1rem var(--light-grey);
}