body {
    gap: 13rem;
}

h1 { 
    text-align: center;
    text-transform: uppercase;
    line-height: 0.9;
}

.policy-separator {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: solid 0.1rem var(--light-grey);
}

.policy-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.policy-buttons {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 1.5rem;
}

.policy-buttons a {
    transition-duration: 0.7s;
}

.policy-buttons a div {
    background-color: var(--dark-grey);
    border-radius: 0.5rem;
    text-align: center;
    width: 13rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.policy-buttons a div img { 
    width: clamp(min(3vw, 12rem), 80px, max(90vw, 55rem));
}

.policy-buttons a:hover {
    scale: 103%;
}

@media (max-width: 530px) {
    body { gap: 7rem; }
    .policy-buttons { flex-direction: column; }
}