@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans:wght@600&family=Poppins&display=swap');

:root {
    --clr-grey-light: 214 7% 19%; 
    --clr-grey-medium: 214 7% 33%; 
    --clr-grey-dark: 206 9% 15%;
    --clr-red: 0 100% 64%;
    --clr-white: 0 0% 100%;

    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-regular: 'Poppins', sans-serif;
    --ff-neutral: 'Montserrat', sans-serif;
    --ff-headline: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* resetting the page */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
header,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-weight: 600;
}

body {
    font-family: var(--ff-regular);
    color: hsl( var(--clr-red) );
    background-color: hsl( var(--clr-grey-light) );
    line-height: 1.5;
}

section {
    display: grid;
    text-align: center;
    place-items: center;
    align-content: center;
    min-height: 70vh;
}

li, a, button {
    font-family: var(--ff-neutral);
    color: hsl( var(--clr-white) );
    text-decoration: none;
}

header {
    padding: 0 1rem;
    background-color: hsl( var(--clr-grey-dark) );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
textarea,
select {
    font: inherit;
}

::selection {
    background: hsl( var(--clr-red) );
    color: hsl( var(--clr-white) );
}

::-moz-selection {
    background: hsl( var(--clr-red) );
    color: hsl( var(--clr-white) );
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* utility classes */

.container {
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

.ff-regular { font-family: var(--ff-regular); }
.ff-headline { font-family: var(--ff-headline); }

.bg-grey-dark { background-color: hsl( var(--clr-grey-dark) );}
.bg-grey-light { background-color: hsl( var(--clr-grey-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}
.bg-red { background-color: hsl( var(--clr-red) );}

.text-grey-dark { color: hsl( var(--clr-grey-dark) );}
.text-grey-light { color: hsl( var(--clr-grey-light) );}
.text-white { color: hsl( var(--clr-white) );}
.text-red { color: hsl( var(--clr-red) );}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* scroll animations */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(70%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* navbar */

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 0.5rem;
}

.nav-links a {
    transition-duration: 0.7s;
}

.nav-links a:hover {
    color: hsl( var(--clr-red) );
}

.buttons {
    display: inline-block;
    padding: 0.8rem 1rem;
    background-color: hsl( var(--clr-grey-medium) );
    border-radius: 4px;
}